@model WebMvc.Models.CustomerModel
@{
    ViewBag.Title = "Index";
}

<div>
    <div class="col-md-12" style="border: 1px solid blue; ">
        <br />
        <div class="col-md-12" style="border: 1px solid blue; ">
            @Html.Partial("_PageTitle", "Customer List")

            @using (Html.BeginForm("Index", "Customer", FormMethod.Post))
            {
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <th>CustomerID</th>
                        <th>Company Name</th>
                        <th>Contact Name</th>
                        <th>Contact Title</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Region</th>
                        <th>PostalCode</th>
                    </tr>
                    @foreach (var cust in Model.customerList)
                    {
                        <tr>
                            <td>@cust.CustomerID</td>
                            <td>@cust.CompanyName</td>
                            <td>@cust.ContactName</td>
                            <td>@cust.ContactTitle</td>
                            <td>@cust.Address</td>
                            <td>@cust.City</td>
                            <td>@cust.Region</td>
                            <td>@cust.PostalCode</td>
                        </tr>
                    }

                </table>
                <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
            }
            @{
                Html.RenderPartial("_PaggingTab", new int[] { @Model.CurrentPageIndex, @Model.PageCount, @Model.TotalRecords });
            }
        </div>
        <script type="text/javascript">
            function PagerClick(index) {
                document.getElementById("hfCurrentPageIndex").value = index;
                document.forms[0].submit();
            }
        </script>
    </div>
</div>


<style type="text/css">
    .body {
        font-family: Arial;
        font-size: 10pt;
    }

    .table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        background-color: #fff;
    }

    table th {
        background-color: #B8DBFD;
        color: #333;
        font-weight: bold;
    }

    .table th, table td {
        padding: 5px;
        border: 1px solid #ccc;
    }

    .table, table table td {
        border: 0px solid# ccc;
    }
</style>
